<div class="single-post">
    <p class="text-center border-bottom">
        {{title}}
    </p>
    <p class="text-center">
        {{body}}
    </p>
    <p class="text-right">
        {{user.username}} {{format_date createdAt}}
    </p>
</div>